[2017-12-28 06:40] lorenatorres94 opened #1 "Problem with commands"
I'm not able to use >Edit.AddGuideline 80 or Edit.RemoveAllGuidelines in VS 2015.
These are the errors I get:
Command "Edit.AddGuideline" does not accept arguments or switches.
Command "Edit.RemoveAllGuidelines" is not valid.

[2017-12-28 06:57] lorenatorres94 commented on #1
Nevermind, sorry! I had the Productivity Power Tools extension enabled so that might have been causing problems. It works fine now!

[2017-12-28 06:57] #1 closed

[2018-03-03 18:41] dotnetjunkie opened #2 "Make guidelines configurable per solution"
Guidelines are currently configured globally per version of Visual Studio. Guidelines however are often used as a visual aid for developers to conform to maximum line length coding convention. Such convention tends to change from project to project. It would therefore be really beneficial to be able to be able to configure guidelines on per-solution basis, ideally by using a config file in the sol

[2018-04-18 14:47] madmidi opened #3 "Wrong column after restart"
I'm using the most current version of Visual Studio 2017 Commuity:
Sometimes when I restart VisualStudio, the guideline appears at a wrong column.
e.g. set at column 121, after restart column 115
Sorry, but I don't have steps to reproduce....

[2018-06-02 19:11] josh-endries opened #4 "Default guidelines"
Two feature requests:

1. I was disappointed to find that there aren't any default guidelines, at least not that I could find (only the file context menu, which doesn't seem like it would remain for my next solution/project). It would be nice to be able to add a default guideline that was always available.

2. For years I've wanted dynamic guidelines for comments (or all text, if that's easier). "

[2018-06-12 08:16] #3 closed

[2018-08-08 11:57] AndersBillLinden opened #5 "Guidlines flyout missing"
I have installed editor guidelines in Visual studio 2015 professional.
Earlier, I have not had any problems finding the guidlines flyout in the text editor right click menu, but this is all I get now:

![2018-08-08 13_55_22-](https://user-images.githubusercontent.com/1017466/43835651-f9bd725c-9b12-11e8-9577-58f7422188ca.png)

[2018-08-08 12:00] AndersBillLinden commented on #5
Hm, getting it sometimes... maybe its resharper that disturbs that menu from populating...

[2018-12-07 15:00] pharring commented on #2
Thanks for the suggestion. It's something that's been requested a number of times. Some people want different settings for different file extensions too.

For per-solution settings, I wonder if .editorconfig could be used. I'll have to research the APIs around reading editorconfig.

[2018-12-07 16:15] pharring commented on #5
@AndersBillLinden sorry for not replying until now. Is it still a problem for you?
Anyone else seeing this with Resharper?

[2018-12-07 16:19] pharring commented on #4
@josh-endries Thanks for the suggestions. I think each has merit and they're worth discussing separately. But please split this into two separate issues. Let's keep this one (edit the title and description) for the "default guidelines" and please create a new issue for "dynamic guidelines".

[2018-12-07 16:44] pharring opened #7 "Reduce frequency of CreateGuidelines telemetry"
We often hit the daily telemetry limit for Editor Guidelines. Looking at the events, the most frequent one is "CreateGuidelines" sent from the ColumnGuideAdornmentFactory.TextViewCreated method. We already have a filter to send it only once per session. See if there's a way to reduce the volume even further.

[2018-12-07 16:48] pharring opened #8 "Remove support for Dev11 (VS 2012)"
I'm thinking of simplifying the test matrix by removing support for VS 2012.
This will also simplify the build.
I need to check whether the Marketplace will continue to serve up old versions for VS 2012 users.
This is not a final decision, but if anyone has an objection, here's the place to discuss.

[2018-12-07 19:31] pharring commented on #8
I found out that the Marketplace doesn't have a history of old versions. So, if we want to continue support for VS 2012 users, we need to create a new VSIX identity "Editor Guidelines VS 2012" -- just like I did for VS 2010.

[2018-12-08 07:42] #7 closed

[2018-12-08 12:14] fzzzt opened #10 "Dynamic guidelines"
For years I've wanted dynamic guidelines for comments (or all text, if that's easier). "Dynamic" meaning the guidelines start at the line's indentation. In other words, the comment "block" is always the same width regardless of how it is indented. I.e., if your comment is indented, the beginning/end of the guidelines are as well.

It would help for making more readable comments that are nested in

[2018-12-08 12:17] fzzzt commented on #4
I moved the dynamic idea into #10. I can't figure out how to change this issue's name, though...

[2018-12-08 15:06] pharring commented on #10
I like the idea and I understand the motivation.

I have lots of questions, so here's your opportunity to shape the feature:

- Would you ever want more than one dynamic guideline?
- Would you ever want a mix of dynamic and non-dynamic guidelines?
- If we have a mix, would you want dynamic guidelines to have a different color?
- Would it be sufficient to show a dynamic guideline only for the curre

[2018-12-08 15:09] pharring commented on #4
@josh-endries thanks for the suggestion. Guidelines are "global" -- once you set them in one text view, they'll show up in every other text view. And they persist across sessions. Are you perhaps thinking of a feature like #2 ?

[2018-12-11 19:35] RobertBernstein opened #13 "Cannot change guideline color in v2.0.4"
I upgraded to v2.0.4 and the Guideline color no longer appears under the Text Editor settings.  I am running VS 2017 version 15.9.3.

![image](https://user-images.githubusercontent.com/845559/49825213-e28efc80-fd51-11e8-98ee-8188898c74aa.png)

![image](https://user-images.githubusercontent.com/845559/49825221-e884dd80-fd51-11e8-8946-90c161ae2773.png)

![image](https://user-images.githubusercontent

[2018-12-11 21:46] pharring commented on #13
Thanks for the report @RobertBernstein. I can't reproduce this myself. The Guidelines entry is there for me in 2.0.4 on Visual Studio 15.9.3.
Is anyone else seeing this problem?

[2018-12-11 21:49] pharring commented on #2
Yes, it looks like .editorconfig will work here -- at least on VS 2017 and above.

[2018-12-11 22:09] AndersBillLinden commented on #5
I am getting the Guidelines flyout now, it also seems like this is one of the extensions that are automatically updating theirselves, something I have not approved. The version I run now is 2.0.4. I am sorry to say that I did not check the version before, when I reported this issue. Should we close this?

[2018-12-12 05:48] pharring commented on #5
Thanks for the reply. I will close this.
The automatic updating is on by default, but you can stop it by unchecking the option in "Tools/Extensions and Updates".
![image](https://user-images.githubusercontent.com/9952654/49849413-4800de80-fd8e-11e8-8671-c75471469cc8.png)

[2018-12-12 05:48] #5 closed

[2018-12-12 15:49] RobertBernstein commented on #13
@pharring , I uninstalled and reinstalled the extension and then the Guideline option was available in Fonts and Colors again.  Unfortunately, I don't know why it disappeared in the first place.

[2018-12-12 23:05] pharring commented on #13
Thanks for replying, @RobertBernstein. Closing for now.

[2018-12-12 23:05] #13 closed

[2018-12-13 01:14] RobertBernstein commented on #13
You're welcome.

[2018-12-13 01:51] #2 closed

[2018-12-13 01:52] pharring commented on #2
I tested in VS 2015 and it works, so I'm merging now.
It'll be in the next release.

[2018-12-13 19:22] pharring opened #16 "Refresh .csproj files"
Update the .csproj files by recreating them in VS 2017.
The current .csproj files are very old (dating back to VS 2010) and have accumulated a lot of 'junk'.
I've moved development exclusively to VS 2017 now, so there's no need to support _building_ on old VS versions.

* Recreate the .csproj files.
* Use PackageReference instead of packages.config

Investigate using .NET SDK-style projects too.

[2018-12-13 19:26] pharring opened #17 "Change TargetFramework for projects"
The current target framework is net45.
This should at least be net452, but probably even newer.

[2018-12-13 19:55] pharring commented on #17
Based on offline discussion with experts:

So, I'll go with net46

[2019-01-17 14:26] HamRusTal opened #18 "Feature request: horizontal “separator between methods”"
[“Productivity Power Tools 2015”](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.ProductivityPowerTools2015) had the “Structure Visualizer” sub-extension which could show, among others, _separator between methods_. While Visual Studio 2017 incorporated one (main?) feature of the sub-extension (_structure guide lines_) the [“Productivity Power Tools 2017/2019”](https:/

[2019-01-17 16:43] HamRusTal commented on #10
If/when this feature is implemented, I suggest the guide lines are named “**indented**” which IMHO best conveys the meaning.

Here are my personal answers to the above questions:

Yes, e.g. the “soft” margin and the “hard” one.

Yes, as the source **code** has to adhere to the “fixed” guides whereas the **comments** would fit into the “indented” ones.

Absolutely. Ideally, both color and pattern (

[2019-01-17 17:25] pharring commented on #18
Thanks for the suggestion. I will see if I can find out how the method separator worked. It might be based off outlining information -- which would make an implementation somewhat easier than trying to do syntax parsing on the buffer content itself (which, of course gets us into language-specific code).

[2019-01-17 17:30] HamRusTal commented on #18
I was just going to mention that option and you did it first.  :)
Unfortunately that option is of no use to me as I'm coding in C++. Yet top-level outlining-based implementation would be perfectly fine for me.

[2019-01-18 17:51] HamRusTal opened #19 "Wrong Z-order causes the guide lines to be overdrawn by ReSharper's Current Line highlight and VS's built-in current outlining block highlight"
Please see the brief discussion with one of ReSharper developers (who implemented some editor adornments) [starting at this comment](https://youtrack.jetbrains.com/issue/RSCPP-25213#focus=streamItem-27-3260374-0-0) (you might wish to choose “Sort: oldest first” in the “Activity settings” drop-down menu on the right).

It might become especially troublesome if some guide lines (e.g. indented ones)

[2019-01-21 01:34] pharring commented on #19
What do you propose?

[2019-01-21 22:05] HamRusTal commented on #19
I suggest putting the guide line adornment layer above the text layer, so that the adornment will overdraw the current line highlight. It will not hurt the text readability I believe as the line is thin and dotted.

[2019-01-24 16:34] NickVst opened #20 "Additional styling options"
I'd like to see more style options for styling the guideline, for example:

- Line style configurability (ability to pick between a solid line, a dashed line or a striped line)
- Line width configurability
- Line opacity configurability (could be faked, doing that by setting the color close to the background color)

I don't think it would be possible to implement this in the Options menu. It would

[2019-01-24 17:47] pharring commented on #20
I could see these being configured via .editorconfig
A more complex UI (a dedicated Tools/Options page) would obviously take longer.

[2019-01-31 12:55] sharwell commented on #16
Let me know if you'd like any assistance here

[2019-01-31 14:38] sharwell opened #21 "Does not work with Visual Studio 2019 Preview 2"
See title. The context menu item is still present but guidelines do not appear.

Steps to reproduce added to https://github.com/pharring/EditorGuidelines/issues/21#issuecomment-488743002

[2019-01-31 14:48] sharwell commented on #21
Looks like an exception was thrown:

[code]

[2019-01-31 14:50] pharring commented on #21
@sharwell thanks.

[2019-01-31 16:36] sharwell commented on #21
It looks like the issue is a breaking change in some part of Microsoft.VisualStudio.CodingConventions. I don't have a good way to fix this without breaking one or more supported versions:

* We can't omit **Microsoft.VisualStudio.CodingConventions.dll** from the VSIX altogether, or Visual Studio 2012-2015 will not be able to resolve the references to interfaces.
* We can't include **Microsoft.Visu

[2019-01-31 20:25] #16 closed

[2019-01-31 23:35] sharwell commented on #21
I am no longer able to repro or make sense of this bug.

[2019-01-31 23:42] pharring commented on #17
Fixed via #24
net46 it is

[2019-01-31 23:42] #17 closed

[2019-03-29 15:59] hannni opened #26 "Support editorconfig `max_line_length` setting."
Editorconfig has a [`max_line_length`](https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#supported-by-a-limited-number-of-editors) setting which some editors/formatters use for wrapping text.

The EditorGuidelines-Plugin could also read this setting apart from its own `guidelines` setting.

[2019-03-29 16:54] pharring commented on #26
Thanks for the tip. It's a good suggestion.

[2019-03-29 17:11] pharring commented on #26
If someone wants to take a look, the code that parses guideline values from .editorconfig is in UpdateGuidelinesFromCodingConventionsAsync https://github.com/pharring/EditorGuidelines/blob/master/src/ColumnGuide/ColumnGuide.cs#L239

For now, I suggest we treat "max_line_length" just like any other guideline and merge its setting in with our own guidelines. I presume "max_line_length" is and our gu

[2019-04-07 20:57] pharring commented on #26
I'm starting work on this today

[2019-04-07 22:13] pharring opened #29 "Use Roslyn Analyzers instead of FxCop"
FxCop is deprecated. Use the Roslyn-based code analyzers instead.

[2019-04-07 23:08] #29 closed

[2019-04-07 23:40] #26 closed

[2019-04-08 03:19] pharring commented on #20
I'm thinking we could have a `guidelines_style` setting in .editorconfig
The syntax would look and behave something like a CSS style for border:
[code]

`1px` specifies the width in pixels.
`dotted` specifies the line style. Simple to support: solid, dotted and dashed
`#FF0000` is the color (RGB). I might be able to support named colors.
`opacity:0.75` specifies the alpha for the line (0.0 to 1.0)

[2019-04-19 23:42] DubbleClick opened #37 ".editorconfig guidelines in [*.{ext, ext2, ...}] files don't work"
This is possibly only VS 2019, but while using

[code]

works just fine,

[code]

has no effect.

[2019-04-20 22:03] pharring commented on #37
Try removing the space before `js`.

[2019-04-20 23:50] DubbleClick commented on #37
Oh, sorry, that was just manually typed in here. There are no spaces in my actual .editorconfig

[2019-04-21 02:04] pharring commented on #37
It works for me. Can you give a more complete repro? Are the php/js files part of a project or just loose files?

[2019-04-21 04:58] pharring commented on #20
I've started working on this.

[2019-04-21 05:39] pharring commented on #20
Note that `#` is not going to work for RGB values because it gets parsed as a comment in .editorconfig.
I think we can break with the CSS style and allow the opacity to be specified at the same time as the RGB.
WPF's ColorConverter can parse ARGB values with or without alpha as well as named color values.

Here are some valid styles:
- `guidelines_style = 1px dotted red`   Single pixel, red dotted

[2019-04-21 07:23] pharring commented on #20
Fixed via #38

[2019-04-21 07:23] #20 closed

[2019-04-21 07:48] pharring opened #40 "Combine overview.md and README.md"
We have two markdown files with much of the same content.
I'd rather not have to update content in two places.
I don't think we can move the overview.md around because it's used in Marketplace publishing.
I think we can have the README contain the relevant stuff for GitHub (issue filing, current status, contributing, etc.) and point to the overview.md for instructions.

[2019-04-21 09:21] DubbleClick commented on #37
Part of a project, here's a quick overview:
![image](https://user-images.githubusercontent.com/7896469/56468085-9eaab300-6427-11e9-80de-850ecb09e40d.png)

[2019-04-21 09:26] DubbleClick commented on #37
Here's a php file opened:
![image](https://user-images.githubusercontent.com/7896469/56468110-f0533d80-6427-11e9-90f4-8e1c28ca9cd7.png)

Same thing goes for vue files. Other file extensions have a guideline at 80.

I just noticed that .js files do indeed have the lines at 80 and 100 though:
![image](https://user-images.githubusercontent.com/7896469/56468138-4627e580-6428-11e9-92a2-3666abdc166f.png

[2019-04-21 09:27] DubbleClick commented on #37
If I manually add guidelines in .php/.vue files, they work just fine.

[2019-04-21 19:15] pharring opened #42 "Add unit tests"

[2019-04-21 23:06] #42 closed

[2019-04-22 10:54] DubbleClick commented on #37
Oh, reproduction is easy, by the way. Just create a new Basic Vue JS Project, add an editorconfig, configure guidelines in it and watch them being displayed in the .js, but not in the .vue file.

[2019-04-22 16:36] pharring commented on #37
Thanks for the additional information. I'll try again to get a local repro.

BTW, I did find what I consider to be a bug with the .editorconfig mechanism -- at least in VS2019. It can sometimes stop sending change notifications. That makes experimenting with .editorconfig frustrating. Once it gets in that state, you have to restart the whole IDE (not just unload/reload the solution) before the not

[2019-04-23 13:07] DubbleClick commented on #37
Yes, I've had that in VS 2017 too. Not sure what triggered it, it seemed to happen randomly.

[2019-04-28 22:54] pharring commented on #37
Are you using the "PHP Tools for Visual Studio" from Devsense? (If so, I'll download the free trial to try and repro)

[2019-04-28 23:05] DubbleClick commented on #37
Yes, that's the php/twig extension. For .vue files it also haplens on a vanilla installation of VS.

[2019-04-29 00:14] pharring commented on #37
I can repro this now with .vue and .html files. PHP is fine for me, BTW, but anything that's based on the HTML editor doesn't seem to respect guidelines. The HTML editor _does_ respect other .editorconfig settings like indent_size, so it's not like .editorconfig is ignored completely. I'll debug it some more.

[2019-04-29 00:52] pharring commented on #37
Think I've figured it out. Need to work a bit harder to find the ITextDocument from the HTML IWpfTextView.

[2019-04-29 02:39] #37 closed

[2019-04-29 02:40] pharring commented on #37
@DubbleClick thanks for the bug report. It was good to track this down and fix it because I'm sure other people have run into it. I'll push out the fix in a new release today.

[2019-04-30 09:30] DubbleClick commented on #37
Awesome, thanks for the quick fix!

[2019-05-02 16:36] sharwell commented on #21
Steps to reproduce:

1. Create a C# project containing a source file **Class1.cs**
2. Install the following package:
[code]
3. Close all documents and restart the IDE
4. Open the solution (no documents should be open)
5. Press <kbd>Ctrl</kbd>+<kbd>T</kbd>, type `f Class1.cs`, <kbd>Enter</kbd>

[2019-05-26 23:10] pharring commented on #21
@sharwell is this still an issue?
I tried your repro steps, but I couldn't find that CodeStyle nuget package on nuget.org. Where can I get it?

[2019-05-28 00:12] sharwell commented on #21
It's in this package source:

[code]

[2019-05-28 17:56] pharring commented on #21
Thanks. I couldn't repro on 16.0.4. Guidelines still work and I can add/remove them via the context menu.

I just got prompted to upgrade VS 2019 to 16.1.1, so I'll try again after that.

@sharwell can you still repro in your environment?

[2019-05-29 02:02] sharwell commented on #21
Yes it doesn't repro every time but I can reproduce it some of the time.

[2019-06-11 15:49] pharring opened #48 "Check for guidelines showing in integration tests"
There are some TODOs in the integration tests to actually check for guidelines appearing.
Do them.

[2019-06-11 15:51] pharring commented on #4
I think this (default guidelines) is covered by the .editorconfig support. Please re-open if you have any further suggestions for this feature.

[2019-06-11 15:51] #4 closed

[2019-06-13 22:33] pharring opened #49 "Port icons from Power Tools extension"
According to a review on the Marketplace, the Power Tools extension had

I believe this is referring to the icons on the context menu commands.
See if we can locate the icons used in Power Tools and port them over.
(May need to seek permission from the current Power Tools owners or find alternatives)

[2019-06-13 22:50] RayKoopa commented on #49
Hey there, thanks for tracking this.

Yeah, I indeed meant the context menu icons with this. This is how they look with a dark theme in the Power Tools version in 2017 and this extension:
![image](https://user-images.githubusercontent.com/9631152/59472307-39c77400-8e3e-11e9-9292-73991d392fe6.png)
![image](https://user-images.githubusercontent.com/9631152/59472319-45b33600-8e3e-11e9-8823-447b28ead1

[2019-06-13 22:56] pharring commented on #49
I located the icons from PPT. Need to check with the current owners if I have permission to use them.

[2019-06-13 23:00] pharring opened #50 "Bring back "Guideline Color..." on the context menu"
Feedback from the Marketplace:

I believe I know how to make "Guideline Color..." navigate to the "Fonts and Colors" page, the trouble is I can't make it scroll to the "Guideline" setting. That would require some tricky/fragile automation.

[2019-06-13 23:00] pharring commented on #49
See #50 for bringing back "Guideline Color..."

[2019-06-13 23:02] RayKoopa commented on #50
I thought it would not be possible easily; maybe show a message banner that the setting is found in Fonts & Colors (and then show a link to open that dialog)?

[2019-06-14 00:16] pharring commented on #50
Yes, we could use an InfoBar for this. Possibly in addition to navigating to Fonts&Colors for you (presumably we have to show the infobar asynchronously before bringing up the modal dialog).

Implementation notes to self:

SVsInfoBarUIFactory/IVsInfoBarUIFactory
__VSSPROPID7.VSSPROPID_MainWindowInfoBarHost
MPF has low-level helper classes: InfobarModel, InfobarHyperlink
(I wish there was a simple

[2019-06-14 21:07] pharring commented on #49
Got permission to use the icons. I should have time to push out an update this weekend.

[2019-06-14 21:22] RayKoopa commented on #49
Excellent! I'll update my review when it's out.

[2019-06-15 00:37] #49 closed

[2019-06-15 01:49] pharring commented on #49
Release 2.2.4 with the updated icons is in the Marketplace now.

[2019-07-18 17:01] EEaglehouse opened #54 "Add Guideline at... menu option"
Nice, simple extension! Thanks!

I suggest adding a new menu option, "Add Guideline at..." or "Edit guidelines...", that allows entering the column or columns for setting the guidelines.

This tool confused me at first because I expected to be able to tell it the column I wanted for the guideline. When the guideline appeared at the text caret and not where I clicked open the context menu, I quickl

[2019-07-18 21:43] pharring commented on #54
Thanks for the feedback. I think "Edit guidelines..." would be the way to go.

It could be as simple as an edit box with the current settings as a string e.g.

with some introductory text and some examples.

It would also be nice to detect if/when the settings have been overridden via .editorconfig and direct people to open the relevant .editorconfig file.

An alternative to a dialog (which has be

[2019-08-03 10:09] NDelt opened #55 "How to I configure default column?"
Is there any way to configure default guideline column without .editorconfig file?
I can't find related settings in `Tools | Options` menu.

[2019-08-03 13:38] pharring commented on #55
Yes. Please see https://github.com/pharring/EditorGuidelines#getting-started
To recap, there are two ways:
1. Context (right-click) menu in the editor window.
2. Edit.AddGuideLine from the Command tool window.

[2019-08-05 08:27] NDelt commented on #55
I missed this point: `line will be drawn at the same position as the caret`
Thanks.

[2019-08-05 08:27] #55 closed

[2019-08-11 04:27] pharring commented on #8
I checked telemetry for usage by VS Version and Dev 11 is around 2% of daily sessions. There are a few Dev 11 users on older versions, but most are staying current (which is surprising since Dev 11 didn't have auto-updating of VSIXes). They are surprisingly active users too - several sessions a day.

Here's my plan:
1. Add a warning UI for Dev 11 users that the current version is the last one to s

[2019-08-11 04:32] pharring opened #56 "Remove support for Dev12 (VS 2013)"
See also #8

I'm thinking of simplifying the test matrix by removing support for VS 2013.
This will also simplify the build and enable adoption of newer IDE features.

This is not a final decision, but if anyone has an objection, here's the place to discuss.

From telemetry, Dev 12 (VS 2013) usage is hovering about 2% of current users.

[2019-08-11 23:52] pharring commented on #56
To make things easier (for me), I'll deprecate VS 2012 and VS 2013 at the same time.
There's still time to raise an objection.

[2019-08-18 14:04] pharring commented on #21
Old issue. Not repro here. Possibly limited to projects that also depend on coding conventions.

[2019-08-18 14:04] #21 closed

[2019-08-18 14:09] pharring opened #58 "Add functional tests"
We have a testing framework, but no actual tests.
Add tests to validate basic guideline functionality.
The tricky part is verifying that the guidelines actually show up.

[2019-09-10 14:22] shadow-cs opened #59 "Setting guidlines in .editorconfig doesn't fully work"
I'm using guidelines set by `.editorconfig`:

[code]

However I only see the guideline on position `120`.

If I comment out `max_line_length` I see it on position `80` only. I'm (almost 😉) sure it did work correctly at some point but I noticed this behavior only recently.

There is clearly some interaction between setting both `max_line_length` and `guidlines`. IMHO `guidlines` should take precede

[2019-09-10 16:34] pharring commented on #59
Thanks for the bug report, @shadow-cs. I could not reproduce this myself. I see both guidelines.

However, I did notice that "live" updating of .editorconfig settings was broken. (This has been a problem for a while and I'll look into it.)

Does the problem persist after closing and re-opening your solution? Can you be sure that your .editorconfig is being used? (e.g. make another change like "ind

[2019-09-10 17:07] pharring commented on #59
FYI: Live updates to .editorconfig are broken when you edit it from within Visual Studio. If you use another editor (e.g. notepad, VSCode or even another instance of Visual Studio) to edit .editorconfig, then live updates work. That seems like a bug; I will enter a Visual Studio feedback item about it.

[2019-09-10 17:26] pharring commented on #59
On the Live updates: It's more subtle than that. Sometimes it works; sometimes it doesn't. If I can figure out the pattern, I'll report it to the Feedback Hub.

In any case, _this_ issue is about mixing `max_line_length` with `guidelines`, and that should certainly work. I can't repro the bug myself.

[2019-09-10 22:50] pharring commented on #58
Dupe of #48

[2019-09-10 22:50] #58 closed

[2019-09-11 09:08] shadow-cs commented on #59
@pharring thanks for a quick response. I forgot to mention I did restart VS each time I made changes (I did notice the warning about VS not handling live changes properly in other issues when I was looking for duplicates).

Other changes from the `.editorconfig` are reflected properly (after restarting VS 😉).

I did notice `.editorconfig` (or the editing experience in general) has been a little fu

[2019-09-11 16:19] pharring commented on #59
Mystery solved: I just noticed a typo in your .editorconfig (and throughout this issue, in fact!)
You're missing the 'e' in the middle of guid**e**lines.

If you were seeing a guideline at column 80 after removing `max_line_length` then I suspect it's falling back to the global guideline setting (without using .editorconfig). You can remove that by doing "Edit.RemoveGuideline 80" from the command

[2019-09-12 07:57] shadow-cs commented on #59
🤦‍♂ I just copy-pasted the same issue over and over again. Thanks a lot and sorry for bothering you with such idiotic error.

[2019-09-12 07:57] #59 closed

[2019-10-10 15:46] sharwell commented on #8
I believe starting with 2012 (you'll want to check the exact version), you can specify different assemblies for different versions of Visual Studio. This would allow you to package a fixed older version of the assemblies in the VSIX file that load in 2012, and a second set of assemblies that load on newer versions.

[2019-12-16 14:47] pharring opened #61 "Merge into a single project"
I originally split Editor Guidelines into three projects:
1. The MEF component
2. The Package and
3. The VSIX.

This was mostly as an exercise to demonstrate how we could separate the editor component from the package and join the IServiceProfiler world to the MEF world. That's no longer necessary, nor is it convenient.

- [ ] Combine the three projects into one.
- [ ] Remove the rendezvous code.

[2019-12-16 14:53] pharring commented on #56
The IDE feature I had in mind was the "info bar" for #50. I don't relish the idea of writing reflection-based light-up code for that.

[2019-12-16 15:00] pharring opened #62 "Release 2.2.5"
2.2.5 will be the final release for VS 2012 and 2013
It needs a bit of planning:

- [ ] Create a branch for legacy versions.
- [ ] Create a new VSIX identity for the legacy version.
- [ ] Update vsixmanifest for legacy version (install targets, URLs, readme, ?)
- [ ] Update Overview.md for legacy version
- [ ] Update Azure pipeline (to trigger on check-in to legacy branch) and to Release to the le

[2019-12-16 15:22] sharwell commented on #50
💭 That doesn't seem like a good use of the gold bar (IVsInfoBarUIFactory). It's more often used for notifying users about errors that occur.

[2019-12-16 16:43] sharwell commented on #62
I believe you can package both the legacy and the new versions of the assembly in the same VSIX, and use the vsixmanifest to conditionally register the correct ones for the currently running version.

[2019-12-16 16:44] pharring commented on #62
@sharwell I've never seen that done before. Do you have an example? Will it also work downlevel?

[2019-12-16 17:01] sharwell commented on #62
Downlevel will ignore the version restriction, but it will also fail to load the newer assembly(ies) during MEF discovery because they reference new versions of the IDE assemblies that are not available downlevel. After failing to load the new assemblies, they will silently compose using only the older ones.

It's the `TargetVersion` attribute of the `Asset` element:
https://docs.microsoft.com/en-

[2019-12-16 17:02] pharring commented on #50
Thanks, @sharwell
I found https://docs.microsoft.com/visualstudio/extensibility/ux-guidelines/notifications-and-progress-for-visual-studio#appropriate-uses-for-an-infobar
which says

If showing a modal dialog is preferable, then we can show a message box that says "Select 'Guideline' from the list in the next dialog. [OK][Cancel]" and, when you click 'OK', it navigates to the Fonts&Colors page.

I

[2020-03-25 16:47] szalkerous opened #64 "Enhancement - Allow for multiple guideline styles"
It would be great if we could define a few different styles of guidelines... pattern and color specifically.

Even if there was a hardcoded amount of 3, that would be more than useful.

This way I could color a green guideline to indicate the maximum width of comments, and a red guideline to indicate maximum width of code to assist with code formatting.

Thanks for considering!

[2020-03-26 01:00] pharring commented on #64
Thanks for the suggestion. I think it's a good idea.

I believe the code change to support different colors and styles for each guideline is pretty straightforward.

A full-featured UI for setting the colors and styles on each guideline can wait, but we should start by defining an extended syntax for .editorconfig.

Current:

[code]
Specifies three guides, but they're all the same style.

Proposed

[2020-03-27 04:41] #64 closed

[2020-03-27 05:33] pharring commented on #64
This is in the 2.2.5 release

[2020-04-02 01:13] pharring commented on #62
2.2.5 has been released now (since there was a nice feature request which I implemented). It carries the "last version" warning for VS 2012 and 2013 users.

[2020-04-22 18:21] gurrenm3 opened #68 "Cannot find setup engine instance"
Tried installing a few different versions of this and got the same error each time. "Cannot find setup engine instance". Here is the install log: https://pastebin.com/NaSZ55QP

[2020-04-22 21:27] pharring commented on #68
I think this indicates a problem with the VSIX Installer, not necessarily with this extension.
Can you please use the "Report a Problem..." feature in Visual Studio itself to report this:
![image](https://user-images.githubusercontent.com/9952654/80035547-11b89080-84a5-11ea-8d20-a3b364c9a299.png)

Also, I found this:
https://stackoverflow.com/questions/54382367/visual-studio-extension-installation

[2020-04-24 05:52] gurrenm3 commented on #68
Thanks for the help :D
I was able to get it working

[2020-04-25 00:20] #68 closed

[2020-06-05 19:43] onolox opened #69 "2 Suggestions"
What I thing I suggest is an option to remove the first and second guidelines, in C# is namespace and class.

The second suggestion is an option to set the minimum size in lines that a guideline appears. An if with 1, 2 or 3 lines don't need a guideline.

Great extension!

[2020-06-10 03:48] pharring commented on #69
Hi @onolox. Thanks for the suggestions. I believe the suggestions are about the "structure guidelines" feature that's built into Visual Studio. Because of that, please close this issue and open up a feedback ticket through Visual Studio's built-in feedback mechanism (see screen snipping below)
![image](https://user-images.githubusercontent.com/9952654/84224889-8dd95880-aa92-11ea-9b06-62bb6269a773.

[2021-04-16 14:00] johnplate opened #71 "Feature request: Default guideline at ColumnLimit from clang-format"
You already support `.editorconfig`, so I wonder if you could support a default guideline at the `ColumnLimit` from `clang-format`.

I'm not sure about the detailed implementation, for example when to enable it and how to query the configured `ColumnLimit`. I would for sure enable it if a `.clang-format` (or `_clang-format`) file is found in the path which explicitly specifies a `ColumnLimit` for

[2021-06-18 01:31] kzu opened #72 "Add support for VS 2022"
🙏

Thanks!

[2021-06-19 19:47] pharring commented on #62
I'm going to revisit this now that I'm adding Dev 17 (VS 2022) support. Supposedly, the Marketplace handles multiple VSIXs.

[2021-06-19 19:47] #62 closed

[2021-06-19 19:48] #8 closed

[2021-06-19 19:48] #56 closed

[2021-06-19 19:48] pharring commented on #72
I'm working on this now.

[2021-06-19 23:56] #61 closed

[2021-06-20 04:16] pharring commented on #72
FIxed with #77

[2021-06-20 04:16] #72 closed

[2021-06-20 21:12] pharring opened #80 "Derive from AsyncPackage"
There are warnings during publishing about not using AsyncPackage.
Now that we support only VS 2015 and above, we can use AsyncPackage.

[2021-06-20 21:55] #80 closed

[2021-06-21 11:12] cw2 opened #82 "CreateInstance failed in version 2.2.6 loaded into VS 2017"
Hello,

  at first, thank you all for the excellent work on this extension, I have been using it for ages :)

  Unfortunately, it seems the latest version 2.2.6 has broken support for VS 2017 (Professional 15.9.36), because it fails to load with the following error "Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.15.0, Version=16.0.0.0", for complete detail please see attached [

[2021-06-21 11:20] cw2 commented on #82
I forgot to mention I also have installed Visual Studio Community 2019 (16.10.0) with the extension version 2.2.5 working fine. If the problem can be caused by this particular combination of installed VS versions, please let me know in case you need to test anything or provide more information (e.g. fusion log); I am familiar with VS extension development.

[2021-06-21 16:20] pharring commented on #82
Thanks for the bug report. I'm very sorry about that.
I think I know why that happened. I switched to reference the Dev16 SDK, believing it supported all downstream products. My bad. I guess I have to revert to an older SDK.

[2021-06-21 17:04] pharring opened #84 "Use .NET Analyzers instead of FxCop"

[2021-06-21 17:08] pharring commented on #82
I switched to using the Dev14 (VS 2015) SDK pieces and verified that it now works on VS 2017.
Thanks again for the bug report.

[2021-06-22 06:03] cw2 commented on #82
I have checked the new 2.2.7 version and it works fine in VS 2017.

Thank you for such quick fix.

[2021-06-25 06:18] Prodigio commented on #21
Suddenly I encountered the same exception. On my side everytime I open up VS 2019 Version 16.9.6.

[code]

[2021-06-25 14:37] pharring opened #85 "CompositionFailedException (Microsoft.ApplicationInsights)"
In https://github.com/pharring/EditorGuidelines/issues/21#issuecomment-868253883 @prodigio writes:

Suddenly I encountered the same exception. On my side everytime I open up VS 2019 Version 16.9.6 and EditorGuidelines 2.2.7.

[code]

[2021-06-25 14:40] pharring commented on #21
@Prodigio thanks for the report. I'm tracking this in #85

[2021-06-25 14:42] pharring commented on #85
I checked the released VSIX and the Microsoft.ApplicationInsights assembly is there, so it's not immediately obvious why we'd get this failure.

[2021-06-28 00:13] pharring commented on #85
I can't reproduce this (although I have 16.10.2). The assembly is present in the VSIX, so that shouldn't be an issue.
@Prodigio could you try uninstalling and re-installing the extension?

[2021-06-28 08:06] Prodigio commented on #85
It seems a simple re-install fixed the problem. Thanks anyway!

[2021-06-28 13:33] pharring commented on #85
Thanks for confirming. Good to know there's a quick workaround even if we don't know the root cause.

[2021-06-28 13:33] #85 closed

[2021-09-16 06:08] Kizaemon opened #86 "Feature request: fixed horizontal guideline"
Hi, I wonder if you can consider implementing this new feature?

I'm looking for a sticky overlayed guideline, which is affixed to the VS frame or MDI well.
This could be a thin transucent blue line, going from left to right over the whole editor area.
The key feature is that the line stays vertically fixed to the well at the same height for all documents, unmoved by vertical scroll.

The reason/u

[2021-10-04 01:30] pharring commented on #86
Thanks for the suggestion, @Kizaemon.
The horizontal bar is a long way from the current functionality that Editor Guidelines provides, so at this time I won't implement it.

I admit I've often tried comparing two documents by Ctrl+Tab-ing between them. In case it helps, there's a command-line switch that compares two files and shows their differences. See: https://docs.microsoft.com/visualstudio/i

[2021-10-04 01:30] #86 closed

[2021-11-10 02:46] JVimes opened #87 ""Package did not load correctly""
Maybe this isn't supported yet, but when I try to set a guideline in Visual Studio 17.1.0 Preview 1.0, I get:

![image](https://user-images.githubusercontent.com/6148201/141039955-885d7939-c903-4177-8a70-3a073ca0e56e.png)

ActivityLog.xml shows:

[code]

[2021-11-10 06:49] bddckr commented on #87
Same `FileNotFoundException` for `Microsoft.ApplicationInsights` happening for me on 17.1.0 Preview 1.0 as well.

(Thanks for this great extension btw!)

[2021-11-10 08:02] D4rkiii opened #88 "VS 2022 Support?"
hey guys,

are they any plans to bring support for VS 2022? Would be great!

Best regards

[2021-11-10 13:12] bddckr commented on #88
It was added by #77 already and can be found on the Visual Studio gallery already. However, you might get the issue outlined in #87.

[2021-11-10 13:49] D4rkiii commented on #88
Sorry! Havent seen the italic text on the market place for the preview version. Thanks!

[2021-11-10 13:49] #88 closed

[2021-11-10 15:44] pharring commented on #87
Thanks for the bug report and sorry for the inconvenience. I haven't been able to reproduce it myself and I'm also on 17.1.0 Preview 1.0 (Community edition)

I suspect it might be related to other installed extensions that are pre-empting the loading of Microsoft.ApplicationInsights. @bddckr would you mind listing what other extensions you have installed?

[2021-11-10 16:27] bddckr commented on #87
@pharring Sure, here you go!

[code]

Thanks for looking into this.

[2021-11-10 19:12] pharring commented on #87
@bddckr @JVimes thanks again for the report. I suspect the problem is with the "upgrade" from 17.0 preview to 17.1 preview.
If anyone sees this on **17.0 Current** (that's what they're calling the stable channel now), let me know.

I saw a slightly different problem myself in 17.1 Preview: The package loaded without error (right-click menu works), but the editor adornment did not load due to a MEF

[2021-11-10 19:15] pharring opened #89 "Remove Preview label from Dev 17 VSIX"
Now that VS 2022 is generally available, remove the "Preview" name and the Preview tag from the Dev17 VSIX

[2021-11-10 21:41] JVimes commented on #87
Thank you @pharring. I still get the error message after `devenv /resetuserdata`. I believe problem started for me, as you suspected, after updating from 17.0 Preview to 17.1 Preview.

Curious if it relates to that error message (above) in ActivityLog.xml:

[code]

[2021-11-10 22:02] pharring commented on #87
Thanks. Yes, that FileNotFoundException is what I'm trying to understand.
The file in question -- Microsoft.ApplicationInsights.dll -- is bundled with the Editor Guidelines package (VSIX). It's also included in Visual Studio itself.

One difference that seems relevant between 17.0 and 17.1 appears in devenv.exe.config:

[code]

That's from 17.1. It refers to version of Microsoft.ApplicationInsight

[2021-11-10 22:12] pharring commented on #87
Found it: "Developer Analytics tools"
Launch the Visual Studio Installer, find the VS 2022 Preview channel and select "Modify"
Then go to "Individual Components" and search for "Developer Analytics". Check the "Developer Analytics tools" check box and update your installation.
That should fix it.

[2021-11-10 22:34] JVimes commented on #87
That worked around the problem for me, thank you. Hopefully a fix isn't too hard.

[2021-11-10 22:41] pharring commented on #87
The fix will have to come from the Visual Studio team in a 17.1 update. I've engaged VSIX support on an internal channel and I'll also file a feedback ticket.

[2021-11-10 22:49] pharring commented on #87
Feedback ticket: https://developercommunity.visualstudio.com/t/devenvexeconfig-supplies-a-codeBase-fo/1579190

[2021-11-11 12:35] bddckr commented on #87
Installing Developer Analytics tools to 17.1.0 Preview 1 worked to restore the extension's functionality for me as well, thank you!

[2021-11-11 14:22] pharring commented on #87
Thanks for confirming.

[2021-11-11 14:22] #87 closed

[2021-11-16 00:35] #89 closed

[2021-11-30 12:56] fredrikhr opened #91 "Support VS 2022"

[2021-11-30 13:08] fredrikhr commented on #91
Never mind, found the new extension.

[2021-11-30 13:08] #91 closed

[2021-12-15 18:31] mjanofsky opened #92 "Visual Studio 2022 Compatibility?"
Received an error attempting to install in VS 2022.  Here is the log file contents:

12/15/2021 1:28:30 PM - Microsoft VSIX Installer
12/15/2021 1:28:30 PM - -------------------------------------------
12/15/2021 1:28:30 PM - vsixinstaller.exe version:
12/15/2021 1:28:30 PM - 17.0.5226-preview5
12/15/2021 1:28:30 PM - -------------------------------------------
12/15/2021 1:28:30 PM - Command line

[2021-12-15 18:41] mjanofsky commented on #92
I see others have reported the same issue, only to later find it in the Extensions Manager.  Maybe update the documentation so we don't bother creating tickets?

[2021-12-18 12:24] RayKoopa opened #93 "VS2022 17.1.0 Preview 1.1 Package did not load correctly"
This may mostly be some weird external / system setup issue, but I'll ask away in hope someone had a similar problem:

I'm on VS2022 Preview (as required to use some new net6.0-android features) and the extension does not display guidelines and only shows the following generic error and ActivityLog entries upon trying to manually add one via the editor context menu:

[code]

ActivityLog.xml:
[code

[2021-12-18 17:21] bddckr commented on #93
See #87. A workaround can be found in [this comment](https://github.com/pharring/EditorGuidelines/issues/87#issuecomment-965794495).

[2021-12-18 17:24] RayKoopa commented on #93
Thanks! Solved it. Sorry, I didn't find that issue as I only checked open ones 🙈

[2021-12-18 17:24] #93 closed

[2022-01-29 15:36] krazyplacebo opened #94 "Package fails to load under VS2022 and VS2022 Preview"
I love this extension and have used it extensively under VS2019 Community Edition, but it fails to work for me under both VS2022 Community Edition and VS2022 Community Edition Preview.

When I right-click and try to add a guideline, I get a 'The EditorGuidelinesPackage did not load correctly' error.
My ActivityLog.xml file shows:

SetSite failed for package [EditorGuidelinesPackage]Source: &apos;E

[2022-01-29 15:56] bddckr commented on #94
See #87. A workaround can be found in [this comment](https://github.com/pharring/EditorGuidelines/issues/87#issuecomment-965794495).

The linked VS bug ticket has been marked as fixed just yesterday, so fingers crossed it's soon fixed because of that 🤞

[2022-01-29 16:30] krazyplacebo commented on #94
That workaround fixed it for me. Many thanks Chris!

[2022-01-29 16:30] #94 closed

[2022-02-15 20:31] alexanderbock commented on #87
Same issue is occurring on the released 17.1.0 with the same working-around still functional and necessary

[2022-02-16 12:00] TaaTT4 opened #95 "EditorGuidelines package did not load correctly with VS 2022 version 17.1.0"
Since I've updated VS 2022 to version 17.1.0, the EditorGuidelines extension stopped to being load correctly.
![image](https://user-images.githubusercontent.com/7291478/154258441-e2ff28e4-5076-4673-bde9-12d81f40eb91.png)
![image](https://user-images.githubusercontent.com/7291478/154258464-3d560744-857d-4981-a7d8-0ddfa9064cc6.png)

Below you can find the `ActivityLog.xml` file (the extension has be

[2022-02-16 13:29] TaaTT4 commented on #95
Closing, duplicate of #87 .
Pardon me, didn't see that the very same bug (with a workaround too!) was already opened by someone else.

[2022-02-16 13:29] #95 closed

[2022-02-16 17:16] riskcon opened #96 "Extension stopped working after most recent Visual Studio 2022 update"
The Editor Guidelines extension does not work anymore since the most recent Visual Studio 2022 update.

[code]

Restarting VS or reinstalling the extension does not resolve the issue.

The mentioned activity log contains this entry:
[code]

### Solution

I had to install the Developer Analytic Tools - no idea if they were uninstalled during the update. I did not add/remove features of Visual Studi

[2022-02-16 18:31] pharring commented on #96
A duplicate of #87
Looks like you found the correct workaround.

[2022-02-16 18:31] #96 closed

[2022-02-21 10:48] john-preston commented on #87
Yes, I can confirm this is still happening in the 17.1 released to the stable channel.

As I see in the feedback ticket this is only going to be fixed in 17.2. Thanks for the extension! And the workaround, it works :)

[2022-02-23 00:12] skottmckay opened #97 "Exception during loading with VS 2022 17.1"
Guidelines don't display after update to 17.1. Attempting to add a new guideline results in message saying check the activity log. Activity log has this:

[code]

I tried uninstalling and re-installing the extension but still fails.

[2022-02-23 00:13] skottmckay commented on #97
Sorry - I see this is covered by the pinned issue. Wasn't clear from the title of that that it was relevant.

[2022-02-23 00:13] #97 closed

[2022-02-23 19:38] teeks99 opened #98 "Only one version attached to the tag"
Apparently the 2022 version requires a different build, as there is a separate marketplace link:

*   [VS2012-VS2019 Marketplace](https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelines)
*   [VS2022 Marketplace](https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelinesPreview)

Based on the URLs that both of these point to, they both appear to

[2022-02-24 04:26] aengusjiang opened #99 "not worker on vs2022.1"
not work on vs2022.1,
seem not load the extension
![image](https://user-images.githubusercontent.com/22406984/155457873-34b57b4f-7d2f-4708-ac03-7476bbb76c4a.png)

[2022-02-24 07:59] someDude1985 opened #100 "Allow custom styles using Visual Studio's Command Window"
It is only possible to define custom guidline styles for different columns using the .editorconfig file. Via Tools->Options it is only possible to alter the color of the default style.
My suggestion would be, to allow defining custom styles using the Visual Studio Command Window with a notification similar to the one  in the .editorconfig:
Edit.AddGuideline 40 1px dotted black, 80 10px solid 30B0E

[2022-02-24 08:47] alwinnat commented on #99
Hello,
I have the same issue in Visual Studio Enterprise 2022 Version 17.1.0.
Following the error entry of ActivityLog.xml:

[2022-02-24 18:36] bddckr commented on #99
Please see the pinned issue #87.

[2022-02-28 18:27] pharring commented on #100
Good suggestion. To make it a bit easier to reason about, I'd like to limit `AddGuideline` to adding one guideline at a time.
So, the example above would have to be written as three separate commands:
[code]
At that point, we'd be adding an extended format for the argument(s) to AddGuideline.

We'd also have to define how to deal with consecutive "AddGuideline" with conflicting styles. "Last one w

[2022-02-28 18:50] pharring commented on #99
The workaround is to run the "Visual Studio Installer", select "Modify" and add the "Developer Analytics" workload.

[2022-02-28 18:50] #99 closed

[2022-02-28 19:02] pharring commented on #98
Updated for 2.2.8
It's a manual process for now.

[2022-02-28 19:02] #98 closed

[2022-02-28 19:20] pharring commented on #96
Done with https://github.com/pharring/EditorGuidelines/commit/236000d5d33627cab0465dad0cb46b7b4a132e3d

[2022-03-07 21:14] ssg commented on #87
I'm adding the stack trace here, so anyone searching for it can find this ticket and the workaround. Thanks!

[code]

[2022-03-26 14:42] sudo-rm-rf-oops commented on #87
Just wanted to say thank you @pharring for researching and posting a workaround.  Made my day.

[2022-04-01 13:59] ArtemAvramenko opened #101 "Failed on initialization in VS 2022"
Visual Studio version 17.1.2

[code]

[2022-04-21 10:34] mmoderau opened #102 "Extension crash in Visual Studio 2022"
While the editor context menu is present, trying to add a guideline displays a Microsoft Visual Studio popup message:

The message also instructs to check *ActivityLog.xml*.

First two entries related to guidelines in the log are:
[code]

**Installed extensions:**
Editor Guidelines
Visual Studio Theme Pack
Visual Studio IntelliCode
NuGetRecommender
Visual Studio Rich Navigation
JetBrains ReSharper

[2022-04-21 15:20] pharring commented on #102
Thanks for the bug report, @mmoderau
This is almost certainly a duplicate of #87
There is a workaround: https://github.com/pharring/EditorGuidelines/issues/87#issuecomment-965794495

[2022-04-21 19:46] pharring commented on #102
Closing as a likely duplicate. Please feel free to re-open if it's not actually a duplicate.

[2022-04-21 19:46] #102 closed

[2022-04-29 21:15] SiP-muav commented on #87
Hi Paul, following your musings on options to deal with absent/mislinked component in 17.1, I have tried the **_edit_** `devenv.exe.config` route, and can confirm it as workable.

Two observations:
- user level cached `devenv.exe.config` at `^\Users\<Luser>\AppData\Local\Microsoft\VisualStudio\17.0*` should be deleted during the "surgery" as it **_may_** interfere with the modified core config con

[2022-04-29 21:27] SiP-muav commented on #87
Another thought: a small temporary note (until mainstream VS is fixed) on your feature page (https://marketplace.visualstudio.com/items?itemName=PaulHarrington.EditorGuidelinesPreview&ssr=false#overview) briefly cautioning hopeful users that there is a known issue with a workaround, would have actually pre-empted me from contacting you, as the solution is already covered in github.
Just an idea. C

[2022-05-14 08:44] SaurabhSinghRathour opened #103 "Guidelines option is not enabled on context menu"
Hi,

I'm working on visual studio 2019 and have installed "Editor Guidelines" extension to set vertical line option at 80 chars. But somehow after enabling and multiple restart of visual studio am not seeing "Guidelines" option on my context menu? I'm not sure how to fix this? I tried to searched through about this issue in web but could not find an answer.

May i request to suggest on this? attac

[2022-05-20 15:58] Ziflin commented on #87
I can confirm that updating to VS 2022 v17.2.x fixes the above issue.

[2022-05-20 16:16] Ziflin opened #104 "EditorGuidelines appears to only reload .editorconfig changes once."
I'm using VS 2022 v17.2.1 and have an `.editorconfig` file with the following in it:
[code]
If I modified `.editorconfig` once, the guidelines update correctly. However, if I do so a second time, changes are no longer update and if I close/open new files, no guidelines will appear at all. I have to restart VS for them to appear.

It's not a huge deal, but just seemed odd that it worked once and no

[2022-05-20 19:26] pharring commented on #104
Thanks for the report, @Ziflin

I've stumbled across this bug a few times myself, but I can never get a solid handle on the root cause and no amount of code reviewing has revealed anything amiss.

I rely on the "Coding Conventions Manager" (`ICodingConventionsManager`) to supply changed events:
https://github.com/pharring/EditorGuidelines/blob/main/src/ColumnGuide/ColumnGuideAdornment.cs#L285
If t

[2022-05-20 19:27] pharring commented on #103
@SaurabhSinghRathour please answer the question above.

[2022-05-21 11:50] SaurabhSinghRathour commented on #103
@pharring Sorry for the delay in response, am working on C/C++ solution and that's where i was facing this issue, however i got one thread in visual studio developer community which helped me in resolving this issue. I'm pasting that link here for reference.

https://developercommunity.visualstudio.com/t/menus-for-extensions-not-shown/108138

I'm good now... Feel free to close this issue and thank

[2022-06-22 08:58] dimasahmad commented on #87
I'm using version 17.2.3 and still got the same error

![image](https://user-images.githubusercontent.com/7010096/174987354-128aa79b-a1f4-4939-a99a-e311bb21e565.png)

and reopening the devenv caused this error

[code]

[2022-06-22 14:12] pharring commented on #87
I haven't seen that one before.

For sure, a missing `IVsTaskList` service would be a problem for many packages, but I don't think EditorGuidelines uses it. I suspect you have a general problem with your installation and EditorGuidelines happened to be fingered as the culprit.

The call-stack indicates that it's coming from the data tools package (not editor guidelines). Was there another error/ex

[2022-07-14 09:54] flobernd commented on #50
@pharring I think this feature request is more about having different colors for each guideline. This is e.g. useful if you work on multiple projects with different maximum line length standards.